---
const {link, height=45, width=175, text, unit='px'} = Astro.props
---

<a href={link} class='button-wrapper'>
  <div class='button' style=`height: ${height}${unit}; width: ${width}${unit};`>
    <div class='default' style=`height: ${height}${unit}; transform: translateZ(${height/2}${unit});`>{text}</div>
    <div class='hover' style=`height:${height}${unit}; transform: rotateX(90deg) translateZ(${height*1.5}${unit});`>{text}</div>
  </div>
</a>

<style lang="scss">

.buttons {
  text-align: center;
}

.button-wrapper {
  display: inline-block;
  perspective: 500px;
}

.button {
  font-size: 1.5rem;
  font-family: Metropolis;
  font-weight: 900;
  transform-style: preserve-3d;
  transition: all ease 0.35s;

  .default,
  .hover {
    align-items: center;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
  }

  .default {
    background-color: var(--dark);
    color: #fff;
    transition: background 0.35s ease;
  }

  .hover {
    background-color: #e6ff9f;
    color: #2d313a;
    transition: background 0.35s ease;
  }

  &:hover {
    transform: rotateX(-90deg);
    
    .default {
      background-color: #2d313a;
      color: #eee;
    }

    .hover {
      background-color: #fff;
      color: var(--dark);
      letter-spacing: 3px;
      transition: all 0.6s;
    }
  }

  &:active .hover {
    background-color: #ddd;
    transition: background-color 0.01s linear;
  }
}

</style>